h1 {
    color: blue
}

.div1{ 
        border: 3px solid black;
        background-color: lightblue;
        padding-top: 45px;
        padding-right: 30px;
        padding-bottom: 45px;
        padding-left: 80px;
      }

IMG.displayed {
    border: none;
    margin: 0 auto;
    }

img {
    Float: left;
}

.column {
    width: 900px;
    float: center;
  }

h2 {
  font-style: initial;
  color: black;
}

h3 {
    font-family: 'Times New Roman', Times, serif;
    color: orangered;
}

p{
    color: black
}

body {
    background-color: lightyellow;
    color: black;
    text-align: center;
}

div {
    display: inline-block;
    text-align: left;
}
